# Database
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/evident

# Nomba API
NOMBA_BASE_URL=https://sandbox.nomba.com
NOMBA_CLIENT_ID=your_test_client_id
NOMBA_PRIVATE_KEY=your_test_private_key
NOMBA_ACCOUNT_ID=your_parent_account_id
NOMBA_SUB_ACCOUNT_ID=your_sub_account_id
NOMBA_SIGNATURE_KEY=your_webhook_signature_key

# App
APP_BASE_URL=https://your-ngrok-url.ngrok.io
SECRET_KEY=generate-a-random-secret-key-here
